html, body { 
    width: 100%;
    overflow: hidden;
}

.barraLateral {
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    display: block;
    background-color: #000;
    color: #FFF;
    overflow-x: hidden;
    z-index: 9;
    padding: 10px;
    box-sizing: border-box;
}

.barraLateral.esquerda {
    left: 0;
}

.barraLateral.direita {
    right: 0;
}

.barraLateral .infos {
    position: relative;
    width: 100%;
    height: 100px;
    display: block; 
    font-size: 9pt;
}

.barraLateral .infos .time {
    padding: 5px;
    color: #FFF;
    margin: 0;
}

.barraLateral .infos .time.timeA {
    background-color: #cc0000;
}

.barraLateral .infos .time.timeB {
    background-color: #000099;
}

.barraLateral .vidas .vida {
    width: 16px;
    height: 15px;
    display: block;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 5px 0;
    background-image: url('../images/heart.png');
    background-repeat: no-repeat;
}

.barraLateral .imagem-demo {
    background-color: #FFF;
    padding: 5px;
}

.barraLateral .imagem-demo img {
    max-width: 100%;
}

.barraLateral .infoBasica {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #FFF;
}

.barraLateral .btnAtaque {
    position: absolute;
    bottom: 5px;
    width: 78%;
    text-align: center;
    padding: 5px;
    background-color: red;
    cursor: pointer;
    display: none;
}

.barraLateral .btnAtaque.visible {
    display: block;
}

#palco {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 150px;
    display: block;
    z-index: 1; 
    background-image: url(../images/areia-pattern.jpg);
}

#palco .campo {
    width: 98%;
    display: block;
    float: left;
    box-sizing: border-box;
}

#palco .campo .casa {
    border: 1px dotted #a59173;
    width: 14%;
    height: 60px;
    display: block;
    float: left;
    box-sizing: border-box;
    background-size: 100% 100%;
}

#palco .campo .casa.selecionada.ataque {
    background-color: #c3aa85;
}

#palco .campo .casa.selecionada.defesa {
    background-color: #c39085;
}

#palco .campo .casa.montanha {
    background-image: url(../images/montanha.png);
}

#palco .campo.cima .casa.base {
    background-image: url(../images/bandeira-time1.png);
}

#palco .campo.baixo .casa.base {
    background-image: url(../images/bandeira-time2.png);
}

#palco .campo .casa.aeroporto {
    background-image: url(../images/aeroporto.png);
}

#palco .divisao {
    width: 100%;
    height: 10px;
    display: block;
    float: left;
    box-sizing: border-box;
    background-image: url(../images/arame-pattern.png);
}

#pecas {
    display: none;
}

.peca {
    margin: 0 auto;
    height: 100%;
}

.peca img {
    max-height: 100%;
}

.peca.revolver {
    width: 24px;
}

.peca.metralhadora {
    width: 26px;
}

.peca.granada {
    width: 50px;
    padding: 10% 0;
}

.peca.sniper {
    width: 49px;
}

.peca.tanque {
    width: 27px;
}

.peca.aviao {
    width: 47px;
}

#panelPause {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 11;
    opacity: 0.7;
    background-color: #000;
    text-align: center;
    font-size: 20pt;
    color: #FFF;
}