@import url('https://fonts.googleapis.com/css?family=Quantico:400,700');

body {
    background-image: url(../images/bck-aco.jpg);
    text-align: center;
    font-family: 'Quantico', Tahoma, Arial !important;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.dialog_ui {
    display: none;
}

.ui-widget {
    font-family: 'Quantico', Tahoma, Arial !important;
}

.content {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

.content img {
    max-width: 100%;
}

.content ul li {
    text-align: left;
}

.btn-jogar {
    padding: 5px 10px;
    background-color: red;
    border-radius: 5px;
    color: #FFF !important;
    text-decoration: none;
    font-weight: bold;
    margin: 30px auto;
    width: 100px;
    display: block;
    cursor: pointer;
}

#form-novo-jogo label, #form-novo-jogo select, #form-novo-jogo input {
    display:block;
}

#form-novo-jogo select, #form-novo-jogo input.text {
    margin: 5px 0 12px;
    width: 100%;
    padding: .4em;
    box-sizing: border-box;
}

#form-novo-jogo fieldset {
    padding:0;
    border:0;
    margin-top:25px;
}

#form-novo-jogo .oculto {
    display: none;
}

#form-novo-jogo label.fase {
    float: left;
    width: 48%;
    padding: 1%;
    border-radius: 6px;
    cursor: pointer;
}

#form-novo-jogo label.fase.selected {
    background-color: #626262;
}

#form-novo-jogo label.fase img {
    max-width: 94%;
    margin: 2% 1% -2%;
}