html, body { 
    width: 100%;
    overflow: hidden;
}

#mensagem-final, #mensagem-erro {
    display: none;
}

.barraLateral {
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    display: block;
    color: #000;
    overflow-x: hidden;
    z-index: 9;
    padding: 10px;
    box-sizing: border-box;
    background-repeat: repeat-y;
    box-shadow: 0px 0px 10px #000;
}

.barraLateral.esquerda {
    left: 0;
    padding-right: 18px;
    background-image: url(../images/bck-barra-lateral-esquerda.jpg);
}

.barraLateral.direita {
    right: 0;
    padding-left: 18px;
    background-image: url(../images/bck-barra-lateral-direita.jpg);
}

.barraLateral .infos {
    position: relative;
    width: 100%;
    height: 100px;
    display: block; 
    font-size: 8pt;
}

.barraLateral .infos .time {
    padding: 5px;
    color: #FFF;
    margin: 0;
    text-align: center;
    overflow:hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.barraLateral .infos .time.timeA {
    background-color: #c54545;
}

.barraLateral .infos .time.timeB {
    background-color: #213b87;
}

.barraLateral .vidas .vida {
    width: 16px;
    height: 15px;
    display: block;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 5px 0;
    background-image: url('../images/heart.png');
    background-repeat: no-repeat;
}

.barraLateral .gasolina .gas {
    width: 12px;
    height: 15px;
    display: block;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 5px 0;
    background-image: url('../images/gas.png');
    background-repeat: no-repeat;
}

.barraLateral .imagem-demo {
    background-color: #FFF;
    padding: 0 5px;
    box-shadow: 0px 0px 10px #000 inset;
    border-radius: 5px;
}

.barraLateral .imagem-demo img {
    max-width: 100%;
}

.barraLateral .infoBasica {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #FFF;
}

.barraLateral .dados {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140px;
    text-align: center;
    padding: 5px;
    display: none;
    color: #000;
    font-size: 8pt;
}

.barraLateral .dados.visible {
    display: block;
}

.barraLateral .dados img {
    max-width: 100%;
}

.barraLateral .timer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 118px;
    text-align: center;
    padding: 5px 5px 5px 27px;
    background-color: #FFF;
    display: none;
    color: #000;
    font-size: 8pt;
    background-image: url(../images/cronometro.gif);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.barraLateral .timer.visible {
    display: block;
}

.barraLateral .btnAtaque {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140px;
    height: 18px;
    text-align: center;
    padding: 5px;
    background-color: red;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

.barraLateral .btnAtaque.visible {
    display: block;
}

#plano-inferior {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 150px;
    display: block;
    z-index: 1; 
    background-image: url(../images/areia-pattern.jpg);
}

#raio-ataque {
    position: absolute;
    z-index: 9;
    background-image: url(../images/raio-ataque.gif);
    background-size: 100% 100%;
    border-radius: 10%;
}

#raio-ataque.campoParaquedista {
    background-image: url(../images/raio-paraquedista.gif);
}

#raio-ataque.hidden {
    display: none;
}

#palco {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 150px;
    display: block;
    z-index: 2;
}

#palco .infos-gerais {
    width: 100%;
    height: 20px;
    background-color: #000;
    color: #FFF;
    text-align: center;
    display: block;
    font-size: 8pt;
    line-height: 14pt;
}

#palco .infos-gerais div {
    display: inline;
}

#palco .campo {
    width: 98%;
    display: block;
    float: left;
    box-sizing: border-box;
    position: relative;
}

#palco .campo .casa {
    border: 1px dotted #a59173;
    width: 14%;
    height: 60px;
    display: block;
    float: left;
    box-sizing: border-box;
    background-size: 100% 100%;
    overflow: hidden;
}

#palco .campo .casa.selecionavel {
    cursor: pointer;
}

#palco .campo .casa.selecionada.ataque {
    background-color: rgba(195, 170, 133, 0.63);
}

#palco .campo .casa.selecionada.defesa {
    background-color: rgba(195, 144, 133, 0.63);
}

#palco .campo .casa.montanha {
    background-image: url(../images/montanha.png);
}

#palco .campo.cima .casa.base {
    background-image: url(../images/bandeira-time1.png);
}

#palco .campo.baixo .casa.base {
    background-image: url(../images/bandeira-time2.png);
}

#palco .campo .casa.aeroporto {
    background-image: url(../images/aeroporto.png);
}

#palco .divisao {
    width: 100%;
    height: 10px;
    display: block;
    float: left;
    box-sizing: border-box;
    background-image: url(../images/arame-pattern.png);
}

#dados, #pecas {
    display: none;
}

.peca {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

.peca.com-raio {
    position: absolute;
    z-index: 99;
}

.casa.ocupacaoDupla .peca {
    width: 50%;
    float: left;
}

.peca img {
    max-height: 100%;
    cursor: pointer;
}

#panelPause {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 11;
    opacity: 0.7;
    background-color: #000;
    text-align: center;
    font-size: 20pt;
    color: #FFF;
}