html, body { 
    width: 100%;
    overflow: hidden;
}

#barraLateral {
    position: absolute;
    width: 150px;
    height: 100%;
    display: block;
    background-color: #000;
    color: #FFF;
    overflow-x: hidden;
    z-index: 9;
}

#barraLateral #infos {
    position: relative;
    width: 100%;
    height: 100px;
    display: block; 
}

#barraLateral #infos #pontos {
    position: relative;
    float: left;
    width: 100%;
    display: block;
    padding: 5px;
    border-bottom: 1px solid #666;
}

#barraLateral #infos #vidas {
    position: relative;
    float: left;
    width: 100%;
    display: block;
    padding: 5px;
    border-bottom: 1px solid #666;
}

#barraLateral #infos #vidas .vida {
    width: 16px;
    height: 15px;
    display: block;
    float: left;
    background-image: url('../images/interface/heart.png');
    background-repeat: no-repeat;
}

#barraLateral #infos #vidas .off {
    background-position: -16px 0px;
}

#barraLateral #infos #cash {
    position: relative;
    float: left;
    width: 100%;
    display: block;
    padding: 5px;
    border-bottom: 1px solid #666;
}

#barraLateral #infos #contentFuel {
    position: relative;
    float: left;
    width: 116px;
    height: 328px;
    display: block;
    margin-top: 10px;
    margin-left: 14px;
    background-color: red;
}

#barraLateral #infos #contentFuel #fuel {
    position: relative;
    float: left;
    width: 116px;
    height: 246px;
    display: block;
    margin-top: 28px;
    background-color: red;
}

#barraLateral #infos #contentFuel #fuel #barFuel {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: green;
}

#barraLateral #infos #contentFuel #maskFuel {
    position: absolute;
    width: 116px;
    height: 328px;
    background-image: url('../images/interface/fuel.png');
    z-index: 10;
}

.objects {
    position: absolute;
    top: -1000%;
    opacity: 0;
}

.objects img {
    float: left;
}

#palco {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    display: block;
    z-index: 1;  
}

#palco #obstaculos {
    position: absolute;
    bottom: 0px;
    padding-bottom: 100%;
    background-image: url('../images/patterns/snow.jpg');
    background-position: 100% 100%;
}

#palco #obstaculos .linha {
    width: 100%;
    float: left;
}

#palco #obstaculos .linha .object, #palco #obstaculos .linha .crash {
    float: left;    
}

#palco #obstaculos .linha .object.crash {
    background-image: url('../images/obstacles/crashed.jpg');
    background-size: 100% 100%;
}

#palco #obstaculos .linha .object.life.crash, #palco #obstaculos .linha .object.fuel.crash {
    visibility: hidden;
}

#palco #obstaculos .linha .crash img {
    visibility: hidden;
}

#planoSuperior {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    display: block;
    z-index: 10;    
}

#planoSuperior #nuvens {
    position: absolute;
    bottom: 0px;
    padding-bottom: 100%;
}

#planoSuperior #nuvens .linha {
    width: 100%;
    float: left;
    margin-bottom: 600px;
}

#planoSuperior #nuvens .linha .cloud {
    float: left;
}

#panelPause {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 11;
    opacity: 0.7;
    background-color: #000;
    text-align: center;
    font-size: 20pt;
    color: #FFF;
}

#airplaneContent {
    position: absolute;
    width: auto;
    height: 148px;
    display: block;
    bottom: 5px;
    left: 50%;
    /*margin-left: -74px;*/
    z-index: 9;
    transition: transform 2s linear;
    transition: -ms-transform 2s linear;
    transition: -webkit-transform 2s linear;    
}

#airplaneContent.pes0 {
    transform: scale(0.6);   
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
}

#airplaneContent.pes10 {
    transform: scale(0.8); 
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
}

#airplaneContent.pes1000 {
    transform: scale(1); 
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
}

#airplaneContent #airplane {
    position: absolute;
    height: 148px;
    display: block;
    background-image: url('../images/airplanes/airplane-p40.png');
    background-repeat: no-repeat;
    z-index: 9;
}

#airplaneContent.desligado #airplane, #airplaneContent.frente #airplane {
    width: 171px;
    background-position: 0px 0px;
}

#airplaneContent.esquerda #airplane {
   width: 146px;
   background-position: -316px 0px; 
}

#airplaneContent.direita #airplane {
    width: 146px;
    background-position: -170px 0px;
}

#airplaneContent.explosion {
    transition: transform .3s linear;
    transition: -ms-transform .3s linear;
    transition: -webkit-transform .3s linear;
    transform: scale(1.5); 
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

#airplaneContent.explosion #airplane {
    width: 171px;
    background-position: 0px -148px;
}

#airplaneContent #airplanePropeller {
    position: absolute;
    height: 150px;
    display: block;
    background-image: url('../images/airplanes/airplane-p40-propeller.gif');
    background-repeat: no-repeat;
    z-index: 10;
}

#airplaneContent.desligado #airplanePropeller {
    width: 171px;
    background-position: 0px 0px;
}

#airplaneContent.frente #airplanePropeller {
    width: 171px;
    background-position: -171px 0px;
}

#airplaneContent.esquerda #airplanePropeller {
   width: 146px;
   background-position: -356px 0px;
}

#airplaneContent.direita #airplanePropeller {
   width: 146px;
   background-position: -341px 0px;
}

#airplaneContent #airplaneImpact {
    position: absolute;
    top: -8px;
    left: -4px;
    height: 161px;
    display: block;
    background-image: url('../images/airplanes/airplane-p40-impact.gif');
    background-repeat: no-repeat;
    z-index: 7;
    display: none;
}

#airplaneContent.desligado #airplaneImpact, #airplaneContent.frente #airplaneImpact {
    top: -4px;
    left: -5px;
    width: 181px;
    background-position: 0px 0px;
}

#airplaneContent.esquerda #airplaneImpact {
    width: 156px;
    background-position: -337px 0px;
}

#airplaneContent.direita #airplaneImpact {
    width: 156px;
    background-position: -181px 0px;
}

#airplaneContent #airplaneFire {
    position: absolute;
    height: 148px;
    display: block;
    background-image: url('../images/airplanes/airplane-p40-fire.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 8;
    display: none;
}

#airplaneContent #airplaneFire, #airplaneContent.frente #airplaneFire {
    width: 171px;
}

#airplaneContent.esquerda #airplaneFire, #airplaneContent.direita #airplaneFire {
   width: 146px; 
}

#airplaneContent #airplaneSmoke {
    position: absolute;
    width: 150px;
    height: 150px;
    display: block;
    background-image: url('../images/airplanes/airplane-p40-smoke.gif');
    background-repeat: no-repeat;
    z-index: 6;
    display: none;
}

#airplaneContent.frente #airplaneSmoke {
    width: 171px;
    background-position: 0px 0px;
}

#airplaneContent.esquerda #airplaneSmoke {
   width: 146px;
   background-position: -187px 0px;
}

#airplaneContent.direita #airplaneSmoke {
   width: 146px;
   background-position: -175px 0px;
}

#palco .pontoNegativo {
    position: absolute;
    z-index: 9;
    color: red;
    font-size: 30pt;
    right: 30px;
    bottom: -100%;
}